In [39]:
import pandas as pd

DATAFRAME::::a dataframe is a table. it contains an array of individual entries, each of which has a certain value. each entry correspongs to a row and a column

In [40]:
pd.DataFrame({"name":['deepak','mayank'],"age":[21,22]})

     name  age
0  deepak   21
1  mayank   22

In [41]:
df=pd.DataFrame(pd.DataFrame({"name":['deepak','mayank'],"age":[21,22]}))
df.head()

     name  age
0  deepak   21
1  mayank   22

In [42]:
dff=pd.DataFrame({'name':['deepak','raj'],"age":[21,22]})

In [43]:
dff["age"]=dff["age"].replace(21,'hello')
dff

     name    age
0  deepak  hello
1     raj     22

In [44]:
df2=pd.DataFrame({'name':['deepak','gupta'],'age':[21,22]}, index=['name','age'])

In [45]:
df2

        name  age
name  deepak   21
age    gupta   22

SERIES:: a series by contrast is a sequence of data values. if a dataframe is a table, a series is a list.and infact you can create one with nothing more than a list

In [47]:
pd.Series([1,2,3,4])

0    1
1    2
2    3
3    4
dtype: int64

In [53]:
import random
val=['deepak','deepali','mayank']
val1=[]
count=0
for i in range(len(val)):
    if('d' in val[i]):
        count+=1
        val1.append(val[i])
print("count is",count)
pd.Series(val1)

count is 2

0     deepak
1    deepali
dtype: object

In [55]:
df3=pd.read_csv("../practice/doom.csv")
df3.head()

,Add Tail,Description,Intro,Title,Time,Year,Minutes Left,Seconds Left,Position X,Position Y
0,Minutes,The Bulletin of the Atomic Scientists changes ...,The Doomsday Clock is a design that warns the ...,The Clock Starts Running,30-12-1899 23:53:00,1947,7.0,420,468.50036,520.10327
1,Minutes,"In the fall, at a remote site in Central Asia,...",NaN,The Arms Race is On,30-12-1899 23:57:00,1949,3.0,180,216.31190,665.73956
2,Minutes,Over the opposition of many nuclear scientists...,NaN,The Horror of Hydrogen,30-12-1899 23:58:00,1953,2.0,120,145.39478,684.73379
3,Minutes,Political actions belied the superpowers’ toug...,NaN,"Cooperation, not Confrontation",30-12-1899 23:53:00,1960,7.0,420,468.50036,520.10327
4,Minutes,"Within 10 days, the most acute crisis of the C...",NaN,"A Close Call, but off the Clock",30-12-1899 23:53:00,1962,7.0,420,468.50036,520.10327